body{
    background-image: url(https://img.freepik.com/free-photo/empty-room-with-gray-wall-tropical-leave-shadow_53876-129924.jpg?w=1380&t=st=1678257771~exp=1678258371~hmac=4b1c66d16e96f1402d97c75f972e39bc9763a76cc32b381c3ffb854c61a5f135);
    background-repeat: no-repeat;
    background-size: cover;
}